@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

$primaryColor: #C2C2F2;
$secondaryColor: #ACB6BF;
$contrastColorFirst:#F2D2C2;
$contrastColorSecond: #C7A381;
$textColor: #484859;

body {
  color: $textColor;
  font-size: 1rem;
  background-color: $contrastColorSecond;
}

header {
  padding: 10px;
  background-color: $contrastColorFirst;
  position: fixed;
  height: 130px;
  width: 100%;
  z-index: 4;

  img {
    height: 120px;
  }
}

.header {
  display: flex;
}

/* stylelint-disable-next-line selector-class-pattern */
.appName {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: Orbitron, sans-serif;
    margin-left: 10px;
  }
}

.electricityAreaContainer {
  position: relative;
}
/* stylelint-disable-next-line selector-class-pattern */
.electricityAreaBackground {    
  background-image: url("../../public/photos/electricity.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 2;
  background-position: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.electricityArea {
  background-color: $contrastColorSecond;
  position: relative; 
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
  form {
  position: relative;
  margin-bottom: 120px;
  color: $textColor; 
  background-color: #C7A381;
  line-height: 0.9;
  text-align: center;
  z-index: 3;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .chooseElectricityArea {
    padding: 10px;
    font-size: 2rem;
    font-family: Orbitron, sans-serif;
    font-weight: 400;
    background-color: $primaryColor;
    color: $textColor;
    
  option {
    padding: 15px;
    font-family: Orbitron, sans-serif;
  }}
}

.electricityPriceContainer {
  position: relative;
  height: 100vh;
}
/* stylelint-disable-next-line selector-class-pattern */

.electricityPriceBackground  {
  background-image: url("../../public/photos/windTurbines.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 2;
  background-position: center;
  
}

/* stylelint-disable-next-line selector-class-pattern */
.electricityPrice {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: $primaryColor;
  position: absolute;
  
  h2 {
    font-size: 2.5rem;
    margin: auto;
    opacity: 1;
    font-family: Orbitron, sans-serif;
    z-index: 2;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.electricitySaver{
  background-color: $secondaryColor;
  position:relative;
  top: 450px;
  z-index: 1;
  max-width: 400px;
  border-radius: 10px;
  margin: 10px;
  z-index: 3;

  form{
    color: $textColor; 
    background-color: #C7A381;
    line-height: 0.9;
    text-align: center;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.chooseSpendingMethod {
  padding: 10px;
  font-size: 1rem;
  font-family: Orbitron, sans-serif;
  font-weight: 400;
  background-color: $secondaryColor;
  color: $textColor;
}

/* stylelint-disable-next-line selector-class-pattern */
.electricitySaverInfo {
  line-height: 2rem;
  font-size: 1rem;
  font-family: Orbitron, sans-serif;

}

.contact {
  display: flex;
  position: absolute;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $contrastColorFirst;
  width: 100%;
  margin: 0;
  padding: 10 0;
}

/*
:root {
  // TODO: Går bra att radera kod även här!
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

// TODO: Radera mig! Jag är bara ett exempel.
main {
  padding: 20px;
}

.app {
  margin-block: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-around;

  .card {
    $card-size: 250px;

    width: 0.6413 * $card-size;
    height: $card-size;
    cursor: pointer;
    background: #102a3f;
    border-radius: 8px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);

    .front {
      font-size: rem(50px);
    }

    .back {
      display: none;
    }

    &.visible {
      .front {
        display: none;
      }

      .back {
        display: block;
      }
    }
  }
}
*/
